<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.test.pds.board.service.BoardMapper">
  	<insert id="addBoardFile"
  			parameterType="java.util.Map">
  		INSERT INTO board_file(
  			board_file_real_name
  			,board_file_name
  			,board_file_ext
  			,board_file_type
  			,board_file_size
  			,board_id
  		)VALUES
  		<foreach collection="boardFileList" item="boardFile" separator=",">
  		(
  			#{boardFile.originalFileName}
  			,#{boardFile.boardFileName}
  			,#{boardFile.boardFileExt}
  			,#{boardFile.boardFileType}
  			,#{boardFile.boardFileSize}
  			,#{boardFile.boardId}
  		)
  		</foreach>
  	</insert>
  	<delete id="modifyBoardFile"
  			parameterType="Integer">
  		DELETE 
  		FROM board_file
  		WHERE board_file_id=#{boardFileId}
  	</delete>
  	<select id="deleteServerFileList"
  			parameterType="Integer"
  			resultType="com.test.pds.board.service.BoardFile">
  		SELECT 
  			board_file_name AS boardFileName
  			,board_file_ext AS boardFileExt
  		FROM board_file
  		WHERE board_file_id =#{boardFileId}
  	</select>
  	<select id="deleteBoardList"
  			parameterType="Integer"
  			resultType="com.test.pds.board.service.BoardFile">
  			SELECT 
  			board_file_name AS boardFileName
  			,board_file_ext AS boardFileExt
  		FROM board_file
  		WHERE board_id =#{boardId}
  	</select>
  	<delete id="deleteBoardFile"
  			parameterType="Integer">
  			DELETE 
  			FROM board_file
  			WHERE board_id=#{boardId}
  			
  	</delete>
  </mapper>