<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mall1.item.service.ItemMapper">
	<select id="selectItemList"
			parameterType="java.util.Map"
			resultType="com.test.mall1.item.service.Item">
		SELECT
			item_no as itemNo
			,item_name as itemName
			,item_price as itemPrice
			,category_no as categoryNo
		FROM item
		ORDER BY itemNo
		LIMIT #{beginRow},#{pagePerRow}
	</select>
	
	<select id="totalCountItem"
			resultType="Integer">
		SELECT COUNT(*) FROM item
	
	</select>
	
	<insert id="insertItem" parameterType="com.test.mall1.item.service.Item">
		INSERT INTO item(
			item_name
			,item_price
			,category_no
		)VALUES(
			#{itemName}
			,#{itemPrice}
			,#{categoryNo}
		)
	</insert>
</mapper>